.nav{
    background-color:aliceblue;
    display: flex;
    max-width: 1000px;
}
.sname{
    color:black;
    padding: 14px 14px;
}
.btnlog{
    padding: 10px;
    align-self: center;
    margin: auto;
    color: white;
    background-color: blue;
}